.brown-button{
  display: block;
  width: 170px;
  height: 51px;
  font-family: $fontBold;
  text-transform: uppercase;
  font-size: $font14;
  line-height: 51px;
  text-align: center;
  background-color: $colorButton;
  color: $colorLink;
  border-radius: 5px;
  box-shadow: 0px 3px 2px $buttonShadow;
  @include mq-small{
    font-size: 0.8em;
  }
}
.button{
  border: 1px solid $colorBorderButton;
  background: none;
  border-radius: 3px;
  padding: 10px 25px;
    &:hover{
      background: $colorButton;
    }
}

