@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.eot');
  src: local('☺'), url('../fonts/Lato-Regular.woff') format('woff'),
  url('../fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato-Light';
  src: url('../fonts/Lato-Light.eot');
  src: local('☺'), url('../fonts/Lato-Light.woff') format('woff'),
  url('../fonts/Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato-Black';
  src: url('../fonts/Lato-Black.eot');
  src: local('☺'), url('../fonts/Lato-Black.woff') format('woff'),
  url('../fonts/Lato-Black.ttf') format('truetype');
}