@font-face {
  font-family: 'RalewayExtraBold';
  src: url('../fonts/RalewayExtraBold.eot');
  src: local('☺'), url('../fonts/RalewayExtraBold.woff') format('woff'),
  url('../fonts/RalewayExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'RalewayMedium';
  src: url('../fonts/RalewayMedium.eot');
  src: local('☺'), url('../fonts/RalewayMedium.woff') format('woff'),
  url('../fonts/RalewayMedium.ttf') format('truetype');
}
@font-face {
  font-family: 'RalewaySemiBold';
  src: url('../fonts/RalewaySemiBold.eot');
  src: local('☺'), url('../fonts/RalewaySemiBold.woff') format('woff'),
  url('../fonts/RalewaySemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'montserratLight';
  src: url('../fonts/montserratLight.eot');
  src: local('☺'), url('../fonts/montserratLight.woff') format('woff'),
  url('../fonts/montserratLight.ttf') format('truetype');
}