// Widths
$width: 1600px;
$widthContainer: 1100px;
//Heights
$sectionHeight: 1000px;
//Colors
$colorLink: #fff;
$colorHoverLink: #c7b299;
$whiteFont: #fff;
$colorCaption: #555;
$bgSection: #fbfaf8;
$colorButton: #998675;
$buttonShadow: #736357;
$bgLine: #241d1a;
$bgText: #362f2d;
$colorBorderButton: #ebebeb;
$colorGreyText: #d1d1d1;
$colorBlue: #939395;
$colorDark: #211b19;
$colorBrown: #4e3427;
$bgFooter: #191919;
$blueText: #00bff3;
$colorText: #8c8c8c;
$colorBorder: #f8f8f8;
$colorBgNumber: #363636;
$colorBgMonth: #a48d72;
$bgBlack: #111;

//Fonts
$fontRegular: 'RalewayRegular';
$fontMedium: 'RalewayMedium', Arial, Helvetica, sans-serif;
$fontBold: 'RalewayExtraBold';
$fontSemiBold: 'RalewaySemiBold';
$fontLight: 'montserratLight';
$fontUltraLight: 'MontserratUltraLight';
$font24: 24px;
$font14: 14px;
$font12: 12px;

