// Widths
$width: 1600px;
$widthContainer: 1100px;
//Heights
$sectionHeight: 1000px;
//Colors
$colorLink: #fff;
$colorHoverLink: #c7b299;
$whiteFont: #fff;
$colorCaption: #555;
$bgSection: #fbfaf8;
$colorButton: #998675;
$buttonShadow: #736357;
$bgLine: #241d1a;

$colorBlue: #74c7d5;
$colorPink: #b24a50;
$colorSpanPink: #ec9da2;
$colorViolet: #665464;
$colorGreen: #81a256;
$colorDarkPink: #df5c64;
$colorLightViolet: #91778e;
$colorLightGreen: #a1ca6c;
$colorLightBlue: #82c8bd;
$colorServices: #c45158;
$colorProfession: #4d3f4b;
//Fonts

$fontMedium: 'RalewayMedium', Arial, Helvetica, sans-serif;
$fontBold: 'RalewayExtraBold';
