// Widths
$width: 1600px;
$widthContainer: 1100px;
//Heights
$sectionHeight: 1000px;
//Colors
$colorLink: #fff;
$colorHoverLink: #c7b299;
$colorBlue: #74c7d5;
$colorPink: #b24a50;
$colorSpanPink: #ec9da2;
$colorViolet: #665464;
$colorGreen: #81a256;
$colorDarkPink: #df5c64;
$colorLightViolet: #91778e;
$colorLightGreen: #a1ca6c;
$colorLightBlue: #82c8bd;
$colorServices: #c45158;
$colorProfession: #4d3f4b;
//Fonts
$fontCaption: 60px;
$fontRegular: 'Lato-Regular', Arial, Helvetica, sans-serif;
$fontLight: 'Lato-Light';
$fontBlack: 'Lato-Black';