#copyright {
  background-color: $bgBlack;
  .container {
    margin: 0 auto;
    .copyright-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 50px 0 52px;
      @include mq-small{
        padding: 10px;
      }
      color: $colorText;
      font-family: $fontLight;
      &__support {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        @include mq-small {
          flex-direction: column;
        }
        a {
          line-height: 18px;
          color: $colorText;
          border-right: 1px solid $colorText;
          padding: 0 10px 0;
          @include mq-small {
            border-right: none;
          }
          &:last-child {
            border-right: none;
          }
          &:hover {
            color: $colorHoverLink;
          }
        }
      }
      &__design {
        display: flex;
        flex-direction: row;
        @include mq-small {
          flex-direction: column;
          justify-content: space-between;
        }
        p{
          border-right: 1px solid $colorText;
          padding: 0 10px 0;
          line-height: 18px;
          &:last-child{
            border-right: none;
            padding: 0 0 0 10px;
          }
          @include mq-small {
            border-right: none;
          }
        }
      }
    }
  }
}