#headline {
  .site-header {
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 10;
    @include mq-small {
      align-items: baseline;
    }
    .logo {
      text-align: left;
    }
    .logo img {
      @include mq-medium {
        width: 60%;
      }
      @include mq-small {
        width: 50%;
      }
    }
    &__nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-family: $fontLight;
      font-size: $font14;
      padding-left: 20px;
      @include mq-medium {
        font-size: $font12;
      }
      @include mq-small {
        flex-direction: column;
        font-size: $font12;
        padding: 0;
      }
      .site-navigation {
        display: flex;
        flex-direction: row;
        @include mq-small {
          display: none;
          position: absolute;
          flex-direction: column;
          top: 28px;
          right: -35px;
          width: 110px;
          text-align: left;
          background-color: $colorButton;
        }
        &__item {
          padding-right: 30px;
          @include mq-medium {
            padding: 5px;
          }
          @include mq-small {
            padding: 7px;
          }
          &__link {
            color: $colorLink;
            &:hover {
              color: $colorHoverLink;
            }
          }
        }
      }
      &__icons {
        display: flex;
        flex-direction: row;
      }
      &__icons a {
        padding-right: 25px;
        @include mq-medium {
          padding-right: 0;
        }
      }
      @include mq-small {
        /** Cтили бургера**/
        .call-navi {
          display: block;
          height: 30px;
          width: 40px;
          background: $colorHoverLink;
          position: absolute;
          right: 35px;
          top: 0;
        }
        .call-navi.active {
          background: $colorButton;
        }
        .call-navi:after, .call-navi:before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          height: 3px;
          width: 15px;
          background: #fff;
          margin: auto;
          box-shadow: 0 -6px #fff, 0 6px #fff;
        }
        .call-navi.active:after {
          box-shadow: none;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        .call-navi.active:before {
          box-shadow: none;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }
  }
  .top-block{
    position: relative;
    .bg {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
    .top-info{
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      width: 100%;
      margin: 0 auto;
      .container {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        @include mq-small {
          padding: 0 30px 0;
        }
        @media (max-width: 480px) {
          .swiper-container {
            margin: 30px 0 20px;
          }
        }
      }
    }
  }
}
