.container{
  max-width: 1170px;
  margin: 80px auto 0;
  @include mq-medium{
    margin: 40px auto 0;
  }
  @include mq-small {
    margin: 40px auto 0;
  }
}
h1{
  font-family: $fontBold;
  font-size: 3.25em;
  padding-top: 16px;
  @include mq-medium{
    font-size: 2em;
  }
  @include mq-small{
    font-size: 1.7em;
  }
  @include mq-medium-up{
    font-size: 2em;
  }
}
h2{
  font-family: $fontMedium;
  font-size: 2.25em;
  @include mq-medium{
    font-size: 1.2em;
  }
  @include mq-small{
    font-size: 1em;
  }
}
h3{
  font-family: $fontSemiBold;
  font-size: 1.875em;
  color: $colorCaption;
  @include mq-medium{
    font-size: 1.4em;
  }
  @include mq-small{
    font-size: 1.4em;
  }
}
h4{
  font-family: $fontSemiBold;
  font-size: 1.125em;
  color: $colorCaption;
  @include mq-medium{
    font-size: 1em;
  }
}
.mainFont{
  font-family: $fontLight;
  color: $colorText;
  font-size: 1em;
  line-height: 1.75em;
  margin: 30px auto;
  max-width: 775px;
  @include mq-small{
    font-size: .7em;
  }
}
p{
  font-family: $fontLight;
  font-size: $font14;
  line-height: 1.5em;
  color: $colorText;
}
.whiteFont{
  color: $whiteFont;
}
.greyText{
  color: $colorGreyText;
}