#logo{
  background-image: url(/public/images/bg_footer.png);
  .container {
    .logo-box {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 139px 0 137px;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}