#logo{
  background-image: url(/public/images/bg_footer.png);
  width: 100%;
  .container {
    .logo-box {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 139px 0 137px;
      width: 100%;
      img {
        width: 100%;
      }
      &__item{
        margin-right: 15px;
      }
      @include mq-small {
        padding: 30px 10px 30px;
      }
    }
  }
}