#presentation{
  .container {
    .presentation__box {
      background-color: $bgSection;
      padding: 80px 0 0;
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      @include mq-medium{
        padding: 40px 0 0;
      }
      img {
        width: 100%;
      }

    }
  }
}